*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
  --color-text: #343131;
  --color-bg: #d5d5d5;
  --color-link: #868282;
  --color-link-hover: #000;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  scroll-behavior: none;
  height: 100vh;
  user-select: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5,0.5,1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
   that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
   keyboard-focus on browsers that do support
   :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  grid-area: main;
  z-index: 1000;
  position: relative;
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'title' 'back' 'prev' 'sponsor';
  grid-gap: 0.5rem;
  justify-items: start;
  align-self: start;
  justify-self: start;
  pointer-events: none;
  align-items: center;
  text-transform: uppercase;
}

body #cdawrap {
    justify-self: start;
}

.frame a {
  pointer-events: auto;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.frame a::before {
  content: '';
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 90%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.frame a:hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

.frame__back {
  grid-area: back;
  display: flex;
  align-items: flex-end;
}

.frame__prev {
  grid-area: prev;
}

canvas {
  height: 100vh;
}

@media screen and (min-width: 53em) {
  .frame {
    position: fixed;
    height: 100vh;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'title back ...' 'prev ... sponsor';
    align-content: space-between;
    justify-items: start;
    grid-gap: 2rem;
    padding: 0.75rem;
  }
  body #cdawrap {
      justify-self: end;
  }
}
